{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adding a new product</h1>

    {{ form_start(form) }}
        {{ form_row(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block page %} {{ path('login') }}{% endblock %}